%heading {
  font-weight: 400;
  font-family: $font-display;
}

.heading-1 {
  @extend %heading;
  line-height: 1;
  font-size: 4.5rem;
  color: $color-grey-light-1;
}

.heading-2 {
  @extend %heading;
  line-height: 1;
  font-size: 4rem;
  font-style: italic;

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}

.btn {
  display: block;
  padding: 1.8rem 3rem;
  border: none;
  cursor: pointer;
  border-radius: 0;
  font-size: 1.5rem;
  color: $color-white;
  text-transform: uppercase;
  font-family: $font-display;
  background-color: $color-primary;

  transition: background-color 0.2s;

  &:hover,
  &:active {
    background-color: $color-primary-dark;
  }

  &:focus {
    outline: 0.3rem solid $color-primary;
    outline-offset: 0.5rem;
  }
}

.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
